/*//////// LINKS ///////*/

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}


/*//////// FORMS ///////*/

.form-label {
  font-weight: bold;
}

.property-edit-buttons-div {
  width: 360px;
}

.items-edit-buttons-div {
  width: 360px;
}

.property-delete-button, .item-delete-button {
  float: right;
}


/*//////// USERS INDEX ///////*/

.users-index-item {
  display: inline-block;
  font-size: 1.2em;
}

.users-index-flag {
  display: inline-block;
  color: #0B0;
  width: 60px;
}

/*//////// ITEMS SHOW ///////*/

.items-show{
  display: inline-block;
  margin-right: 100px;
  height: 100%;
  vertical-align: middle;
}
