/*//////// LINKS ///////*/

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}


/*//////// FORMS ///////*/

.form-label {
  font-weight: bold;
}

/*//////// USERS INDEX ///////*/

.users-index-item-row {
  font-size: 1.2em;
}
