<div class="row">
  <div class="col-xl-12 text-center">
    <h3>Log In</h3>
    <form method="post" action="/login">
      <p><span class="form-label">U</span>: <input type="text" name="user[username]"></p>
      <p><span class="form-label">P</span>: <input type="password" name="user[password]"></p>
      <input type="submit" value="Log In">
    </form>
  </div>
</div>
