<div class="row">
  <div class="col-xl-12">
    <h3>Create</h3>
    <form method="post" action="/items">
      <p>
        <span class="form-label">Name</span>:<br>
        <input type="text" name="item[name]"></p>
      <p>
        <span class="form-label">Description</span>:<br>
        <textarea name="item[description]"></textarea>
      </p>
      <p>
      <span class="form-label">Sharing:</span><br>
        <input type="radio" name="item[share]" value="view"> View  
        <input type="radio" name="item[share]" value="edit"> Edit 
        <input type="radio" name="item[share]" value="private"> Private
      </p>
      <br>
      <h4>Add Property</h4>
      <p>
        <span class="form-label">Name</span>:<br>
        <input type="text" name="property[name]">
      </p>
      <p>
        <span class="form-label">Content</span>:<br>
        <textarea rows="10" cols="50" name="property[content]"></textarea>
      </p>
      <input type="submit" value="Create">
    </form>
  </div>
</div>
