<div class="row">
  <div class="col-xl-12">
    <h3>Create Item</h3>
    <form method="post" action="/items">
      <p><span class="form-label">Item Name</span>: <input type="text" name="item[name]"></p>
      <p><span class="form-label">Item Description</span>: <input type="text" name="item[description]"></p>

      <h4>Item Properties</h4>
      <%(1..3).each do |i|%>
       <p><span class="form-label">Property Name</span>: <input type="text" name="item[property][][name]">
          <span class="form-label">Content</span>:<br>
          <textarea name="item[property][][content]"></textarea></p>
      <%end%>

      <input type="submit" value="Create"
    </form>
  </div>
</div>
