<div class="row">
  <div class="col-xl-12">
    <h3><%=@item.name%></h3>
    <%@item.properties.all.each do |property|%>
      <h5><a href="/properties/show/<%=property.id%>"><%=property.name%></a></h5>
    <%end%>
    </ul>
  </div>
</div>
