<div class="row">
  <div class="col-xl-12 text-center">
    <h3><%=@item.name%></h3>
    <br>
    <%@item.properties.all.each do |property|%>
      <h5><a href="/properties/<%=property.id%>"><%=property.name%></a></h5>
    <%end%>
  </div>
</div>
